ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-style: normal;
}



/* 1-timer */

.input-field {
    padding-top: 36px;
    padding-left: 156px;
}

.input-time {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
    outline: transparent;
}

.input-time:hover {
    border: 1px solid #000;
}

.input-time:focus {
    border: 1px solid #4e75ff;
}

.button-start {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background-color: #cfcfcf;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #989898;
    border: none;
}

.button-start-date {
    background-color: #4e75ff;
    color: #fff;
    cursor: pointer;
}

:hover.button-start-date {
    background-color: #6C8CFF;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 346px;
    height: 72px;
    gap: 24px;
    margin-top: 32px;
}

.field {
    width: auto;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-transform: uppercase;
}

/* 2-snackbar */

.form {
    margin-left: 156px;
    margin-top: 38px;
}

.form>label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form>label>input {
    display: flex;
    gap: 8px;
    width: 344px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
}

.form>label>input:hover {
    border: 1px solid #000;
}

.form>label>input:focus {
    border: 1px solid #4e75ff;
}

fieldset {
    width: 360px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 24px;
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

fieldset:hover {
    border: 1px solid #000;
}

button {
    display: flex;
    width: 360px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4e75ff;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

button:hover {
    background: #6c8cff;
}

.button-start {
    margin-top: 36px;
    margin-left: 156;
}